<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lookup - Product Database</title>
    <link rel='icon' type='image/x-icon' href='/assets/favicon.ico'>
</head>
<body style="background-color: #282c34;">
    <%- include('_header'); %>

    <% if(modal){ %>
        <div class="modal fade montserrat" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border" style="background-color: #282c34;">
                <div class="modal-header text-white">
                    <h5 class="modal-title" id="resultModalLabel">Product - <%= name %></h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i style="color: white;" class="fa fa-close"></i></button>
                </div>
                <div class="modal-body text-white">
                    <% if(found){ %>
                        Product ID: <b><%= id %></b><br>
                        Product Quantity: <b><%= quantity %></b><br>
                        Name: <b><%= name %></b><br>
                        Description: <b><%= description %></b><br>
                        Price: <b><%= price %></b><br>
                        Purchased: <b><% if(purchased == true){  %> True <% } else { %> False <% } %></b><br>
                    <% } else { %>
                        Product not found
                    <% }; %>
                </div>
                <div class="modal-footer text-white">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <% if(found){ %>
                        <button type="submit" class="btn btn-danger" onclick="productDelete('<%= name %>')">Delete Product</button>
                    <% }; %>
                </div>
                </div>
            </div>
        </div>
        <script>
            const resultModal = new bootstrap.Modal('#resultModal');
            resultModal.show();
        </script>
    <% }; %>

    <% if(deleted){ %>
        <div class="modal fade montserrat" id="deletedModal" tabindex="-1" aria-labelledby="deletedModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border" style="background-color: #282c34;">
                <div class="modal-header text-white">
                    <h5 class="modal-title" id="resultModalLabel">Product - <%= name %></h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i style="color: white;" class="fa fa-close"></i></button>
                </div>
                <div class="modal-body text-white">
                    Successfully deleted product <%= name %>
                </div>
                <div class="modal-footer text-white">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        <script>
            const deletedModal = new bootstrap.Modal('#deletedModal');
            deletedModal.show();
        </script>
    <% }; %>
 
    <form class="d-grid gap-2 container p-5 montserrat" style="justify-items: center;" onsubmit="productLookup()" method="dialog">
        <p for="productLookup" class="text text-white form-label" style="font-size: 42px; text-align: center; font-weight: 600;">Search Product Database</p>
        <p class="text" style="text-align: centre;">Search for a product in the database using the products name.</p>
        <input required type="name" class="text form-control bg-dark text-white" style="width: 60%; text-align: center;" id="productLookupName" placeholder="Input a product name">
        <button type="submit" class="btn btn-primary" type="button" style="width: 60%;">Search Result</button>
    </form>
    
    <%- include('_footer'); %>
</body>
</html>
<script>
    function productLookup(){
        if(!this.productLookupName.value){
            return;
        };
        location.href = '/lookup?name=' + this.productLookupName.value;
    };

    function productDelete(name){
        if(!name){
            return;
        };
        location.href = '/delete?name=' + name;
    };
</script>